<?xml version='1.0' encoding='utf-8'?>
<widget id="com.devbaltasarq.paititi" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Paititi</name>
    <description>En busca de la ciudad perdida.</description>
    <author email="baltasarq@gmail.com" href="http://caad.es/baltasarq/">
        Baltasar
    </author>
    <content src="index.html" />
</widget>
